{% extends 'base.html.twig' %}

{% block title %}Page age{% endblock %}

{% block body %}
    <h1>Coucou les loulous</h1>
    <p>vous avez {{age}} années<p>
    <p>vous mesurer sans doute {{taille}}
    cm</p>
    <a class ="btn btn-primary" href="/">retour à l'acceuil</a>
{% endblock %}
