<form method="post" action="{{ path('app_item_delete', {'id': item.id}) }}" onsubmit="return confirm('Etes vou sur de vouloir supprimer cette Item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    <button class="btn btn-danger mt-1">Supprimer</button>
</form>
