{% extends 'base.html.twig' %}

{% block title %}Création Item{% endblock %}

{% block body %}
    <h1>Créer un nouvel Item</h1>

    {{ include('item/_form.html.twig') }}

    <a href="{{ path('app_item_index') }}">Retourné à la liste</a>
{% endblock %}
